@import url(../../styles.css);

.menuShow{
    width: 8%;
    position: fixed;
    left: 0;
    top:0;
    bottom:0;
    background: rgb(95, 95, 95);  
    padding-right: 1em; 
    z-index: 1;
    position: absolute;
    float: right;
    margin-left: -6.5%;
    transition: 1s ease;
}

.row{
    display: block;
    justify-content: space-between;
    width: fit-content;
}

.row:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 5px;
}

.row .option{
    display:flex;
    width: 13em;
    justify-content: space-between;
    transition: .5 ease;
}

.showIcon {
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
}

mat-icon{
    line-height: 225%;
    height: 100%;
}

.menuShow:hover{
    transform: translateX(75%);
}

.option:hover > #dropdownarrow{
    transform: rotate(90deg);
    transition: .5s ease;
}

.dropdown-content {
    display: none;
    background: rgb(95, 95, 95);
    min-width: 160px;
    z-index: 1;
    width: 5em;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
  }

.dropdown-content p:hover {background: rgb(95, 95, 95);}

#dropdownarrow > .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}