<div class="menuShow">
    <div class="menu logo">
        <mat-icon>reorder</mat-icon>
    </div>
    <div class="menu logo">
        <mat-icon>question_answer</mat-icon>
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
    <div class="logo">
        
    </div>
</div>
<!-- <div class="menu">
    <div class="option">
        <p>Dashboard</p> <mat-icon>reorder</mat-icon>
    </div>
    <div class="option">
        <p>Message Types</p> <mat-icon>question_answer</mat-icon>
        <div>
            <div class="subOptions">GZ Contact</div>
            <div class="subOptions">GZ Tenant Settings</div>
            <div class="subOptions">GZ Payment</div>
            <div class="subOptions">NRDS Office</div>
            <div class="subOptions">NRDS Office Supplemental</div>
            <div class="subOptions">NRDS Transfer Office</div>
            <div class="subOptions">NRDS Member</div>
            <div class="subOptions">NRDS Member Supplemental</div>
            <div class="subOptions">NRDS Member Education</div>
            <div class="subOptions">NRDS Transfer Member</div>
        </div>
    </div>
    <div class="option">
        Subscribers
    </div>
    <div class="option">
        Publishers
    </div>
    <div class="option">
        NRDS
    </div>
    <div class="option">
        Ray Gun
    </div>
    <div class="option">
        Data Dog
    </div>
    <div class="option">
        Hangfire
    </div>
    <div class="option">
        Tenants
    </div>
    <div class="option">
        Message Queue Builders
    </div>
</div> -->