@import url(../../styles.css);

.menuShow{
    width: 11em;
    position: fixed;
    left: -4.5px;
    top:0;
    bottom:0;
    background: rgb(95, 95, 95);  
    padding-right: 1em; 
    z-index: 1;
    position: absolute;
    margin-left: -8.8em;
    transition: 1s ease;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105%;
}

.row .dropdown{
    position: relative;
    display: flex;
    &.noOptions{
        margin-left: 1.7em;
        justify-content: space-between;
        width:100%
    }
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: relative;
    background: rgb(95, 95, 95);
    min-width: 160px;
    z-index: 1;
    width: 5em;
}

.row:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 5px;
}

mat-icon{
    line-height: 225%;
    height: 100%;
}

.menuShow:hover{
    transform: translateX(75%);
}

.dropdown:hover > #dropdownarrow{
    transform: rotate(90deg);
}


.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
  }

.dropdown-content p:hover {background: rgb(95, 95, 95);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}