<div class="menuShow">
    <div class="row">
        <div class="dropdown noOptions">
            <p>Dashboard</p>
            <mat-icon>reorder</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="option">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>Message Types</p>
            <div class="showIcon"><mat-icon>question_answer</mat-icon></div>
        </div>
        <div class="subOption">
            <p>Unknown</p>
            <p>GZ Contact</p>
            <p>GZ Tenant Settings</p>
            <p>GZ Payment</p>
            <p>NRDS Office</p>
            <p>NRDS Office Supplemental</p>
            <p>NRDS Member</p>
            <p>NRDS Member Supplemental</p>
            <p>NRDS Member Education</p>
            <p>NRDS Member Finance</p>
            <p>NRDS Transfer Member</p>
            <p>NRDS Transfer Office</p>
        </div>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>Subscribers</p>
        </div>
        <mat-icon>people</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>Publishers</p>
        </div>
        <mat-icon>event_note</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>NRDS</p>
        </div>
        <mat-icon> import_export</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>Ray Gun</p>
        </div>
        <mat-icon> import_export</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown noOptions">
            <p>Data Dog</p>
        </div>
        <mat-icon>network_check</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown noOptions">
            <p>HangFire</p>
        </div>
        <mat-icon>whatshot</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>Tenants</p>
        </div>
        <mat-icon> import_export</mat-icon>
    </div>
    <div class="row">
        <div class="dropdown">
            <mat-icon id="dropdownarrow">keyboard_arrow_right</mat-icon>
            <p>MSG Queue</p>
        </div>
        <mat-icon>playlist_add</mat-icon>
    </div>
</div>
