<div class="page home">
    <app-menu></app-menu>
    <div class="thirds">
        <h2>Message Types</h2>
        <div>
            <h4>
                <div>
                    <div class=GZbtn>GZ Contact</div>
                    <div class=GZbtn>GZ Tenant Settings</div>
                    <div class=GZbtn>GZ Payment</div>
                    <div class=GZbtn>NRDS Office</div>
                    <div class=GZbtn>NRDS Office Supplemental</div>
                    <div class=GZbtn>NRDS Transfer Office</div>
                    <div class=GZbtn>NRDS Member</div>
                    <div class=GZbtn>NRDS Member Supplemental</div>
                    <div class=GZbtn>NRDS Member Education</div>
                    <div class=GZbtn>NRDS Transfer Member</div>
                </div>
            </h4>
        </div>
    </div>
    <div class="thirds">
        <h2>Subscribers</h2>
        <div>
            <h4>
                <div>
                    <div class=GZbtn>NRDS</div>
                    <div class=GZbtn>Supra</div>
                    <div class=GZbtn>CoreLogic</div>
                    <div class=GZbtn>SentriLock</div>
                    <div class=GZbtn>Flex</div>
                    <div class=GZbtn>Real Estate Standards Organization</div>
                    <div class=GZbtn>California Regional MLS</div>
                    <div class=GZbtn>Midwest Real Estate Data</div>
                    <div class=GZbtn>Black Knight MLS</div>
                </div>
            </h4>
        </div>
    </div>
    <div class="thirds">
        <h2>Publishers</h2>
        <div>
            <h4>
                <div>
                    <div class=GZbtn>NRDS</div>
                    <div class=GZbtn>Supra</div>
                    <div class=GZbtn>CoreLogic</div>
                    <div class=GZbtn>SentriLock</div>
                    <div class=GZbtn>Flex</div>
                    <div class=GZbtn>Real Estate Standards Organization</div>
                    <div class=GZbtn>California Regional MLS</div>
                    <div class=GZbtn>Midwest Real Estate Data</div>
                    <div class=GZbtn>Black Knight MLS</div>
                </div>
            </h4>
        </div>
    </div>
</div>